h1 {
  text-align: center;
  font-family: "Bodoni Moda";
  font-size: 80px;
}

#link {
  text-align: center;
}

a {
  text-align: center;
  font-family: "Bodoni Moda";
  font-size: 40px;
}

a:link, a:visited {
  background-color: #edb4bf;
  color: white;
  padding: 30px 40px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #eba0ae;
}
